<div class="nav-block">
    {% if page != 0 %}
    <a class="arrow-left" href="/gallery/{{ page - 1 }}">Prev</a>
    <a class="paddle" href="/gallery/0">Oldest<br>Page</a>
    {% endif %}
    {% for pnum in page_range.iter().cloned() %}
    <a class="paddle {% if pnum == page %}selected{% endif %}" href="/gallery/{{ pnum }}">{{ pnum }}</a>
    {% endfor %}
    {% if page < page_count-1 %}
    <a class="paddle" href="/gallery/{{ page_count - 1 }}">Newest<br>Page</a>
    <a class="arrow-right" href="/gallery/{{ page + 1 }}">Next</a>
    {% endif %}
</div>