[Unit]
Description=Next Generation Moose Service

[Service]
DynamicUser=yes
User=moose2
Group=moose2
ExecStart=/usr/local/bin/moose2 run
ExecReload=/bin/kill -HUP $MAINPID
StateDirectory=moose2

[Install]
WantedBy=multi-user.target
