* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 1.5em;
    }
}

.cards {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 0.5em;
    padding-top: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-bottom: 0.5em;
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
    text-align: center;
    justify-content: center;
}

.img {
    background: repeating-conic-gradient(#808080 0% 25%, #c0c0c0 0% 50%) 50% / 20px 20px;
    /* max-width: 416px; */
    /* max-height: 381.333px; */
}

.nav-block {
    display: flex;
    justify-content: center;
    margin: 1em 1em;
}

@media only screen and (max-width: 480px) {
    .nav-block {
        flex-wrap: wrap;
    }
}

.nav-block>a {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.black-link {
    color: black;
}

.full-width {
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
}

.full-width>input[type="text"] {
    flex: 1;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.full-width>input[type="submit"] {
    padding: 0.25em 0.5em 0.25em 0.5em;
}


@media only screen and (max-width: 480px) {
    .full-width {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .full-width>input[type="submit"] {
        display: none;
    }
}

.center-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.hidden {
    display: none;
}

.disable {
    pointer-events: none;
    opacity: .33;
}

.paddle {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 0.25em 0.5em 0.25em 0.5em;
    /* margin: 1em 0.05em 1em 0.05em; */
}

.arrow-right {
    /* margin: 1em 0.25em 1em 0.05em; */
    padding: 0.25em 3em 0.25em 1em;
    text-decoration: none;
    color: white;
    background:
        linear-gradient(-120deg, transparent 1em,
            grey 1.05em,
            grey 1.5em,
            transparent 1.45em,
            transparent 2em,
            grey 2.05em) top no-repeat,
        linear-gradient(300deg,
            transparent 1em,
            grey 1.05em,
            grey 1.5em,
            transparent 1.45em,
            transparent 2em,
            grey 2.05em) bottom no-repeat;
    text-align: left;
    background-size: 100% 50%;
}

.arrow-left {
    /* margin: 1em 0.05em 1em 0.25em; */
    padding: 0.25em 1em 0.25em 3em;
    text-decoration: none;
    color: white;
    background:
        linear-gradient(120deg, transparent 1em,
            grey 1.05em,
            grey 1.5em,
            transparent 1.45em,
            transparent 2em,
            grey 2.05em) top no-repeat,
        linear-gradient(-300deg,
            transparent 1em,
            grey 1.05em,
            grey 1.5em,
            transparent 1.45em,
            transparent 2em,
            grey 2.05em) bottom no-repeat;
    text-align: right;
    background-size: 100% 50%;
}

@media only screen and (max-width: 480px) {

    .paddle-edge {
        display: none;
    }

    .arrow-left,
    .arrow-right,
    .paddle {
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: grey;
        padding: 0.25em 0.2em 0.25em 0.2em;
        margin: 0.1em;
    }

    .arrow-left,
    .arrow-right {
        flex: 0 0 100%;
    }


}

.selected {
    background-color: burlywood;
}