<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Moose2Handler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform
      processPath="C:\Program Files\moose2\bin\moose2.exe"
      arguments="--listen=127.0.0.1:%HTTP_PLATFORM_PORT%"
      stdoutLogEnabled="true"
      stdoutLogFile="C:\ProgramData\moose2\moose2-iis-log"
      startupTimeLimit="30"
      processesPerApplication="1"
    >
      <environmentVariables>
        <!-- This is similar to $STATE_DIRECTORY when running with systemd on Linux. -->
        <environmentVariable name="MOOSE2_HOME" value="C:\ProgramData\moose2" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
