<?xml version="1.0" encoding="utf-8"?>
<!-- Moose2 IIS Example Configuration. -->
<configuration>
  <!--
    Requires:
      HttpPlatformHandler: https://www.iis.net/downloads/microsoft/httpplatformhandler

    You should Probably define %MOOSE2_HOME% environment variable globally at the MACHINE level.
    You also need to make sure %MOOSE2_HOME% allows for the Application Pool User to have `Full Control` over the folder.

    If you do not want IIS to serve the dump file, make sure to build moose2 with `-F serve-dump`.
    Comment out the "dump" location below as well.
  -->
  <location path="" inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <clear />
        <add name="Moose2Handler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
      </handlers>
      <httpPlatform
        processPath="C:\Program Files\moose2\bin\moose2.exe"
        arguments="--listen=127.0.0.1:%HTTP_PLATFORM_PORT%"
        stdoutLogEnabled="true"
        stdoutLogFile="%MOOSE2_HOME%\moose2-iis"
        startupTimeLimit="30"
        processesPerApplication="1"
      >
        <environmentVariables>
          <!-- This is similar to $STATE_DIRECTORY when running with systemd on Linux. -->
          <environmentVariable name="MOOSE2_HOME" value="C:\ProgramData\moose2" />
          <!-- configure logging level; default: INFO -->
          <environmentVariable name="RUST_LOG" value="DEBUG" />
        </environmentVariables>
      </httpPlatform>
    </system.webServer>
  </location>
  <!--
    OPTIONAL: /dump is not strictly necessary for the web app.
              Use this if you do not enable the `serve-dump` feature.

    NOTE:     To use this, you need to have moose2 write the dump file to .\dump\dump.json.
              .\dump MUST allow .\IIS_IUSRS to MODIFY to create it.

    Requires: Windows Features
      -> Internet Information Services
         -> World Wide Web Services
            -> Common HTTP Features
               -> Default Document
               -> Static Content
  -->
  <location path="dump" inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <clear />
        <add name="Moose2Dump" path="*" verb="GET" modules="DefaultDocumentModule,StaticFileModule" resourceType="Either" requireAccess="Read" />
      </handlers>
      <defaultDocument>
        <files>
          <clear />
          <add value="dump.json" />
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
</configuration>
